Help Desk/Microsoft.Flow/flows/7af0ee80-3fa2-476b-8335-2ba48a6c012f/definition.json
{"name":"4189f596-4769-49d3-a63b-7ec5e4316ed4","id":"/providers/Microsoft.Flow/flows/4189f596-4769-49d3-a63b-7ec5e4316ed4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Kirim","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-06T02:46:19.0823708Z","connectionKeySavedTimeKey":"2024-06-06T02:46:19.0823708Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f97ac560-3f8b-42a9-8561-0c67d4f88ac3"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Mobil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Tanggal","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Email","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Jenis","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"Vendor","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Kontrak","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Persutujuan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7"]}}}},"actions":{"Mobil":{"runAfter":{},"metadata":{"operationMetadataId":"62468421-5e1f-4aee-a440-cba362dfca98"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mobil","type":"string","value":"@triggerBody()['text']"}]}},"Tanggal":{"runAfter":{"Mobil":["Succeeded"]},"metadata":{"operationMetadataId":"1a23b83b-7ebc-4a5b-b91f-435b16ca1ed8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tanggal","type":"string","value":"@triggerBody()['text_1']"}]}},"Pegawai":{"runAfter":{"Tanggal":["Succeeded"]},"metadata":{"operationMetadataId":"8ec485b3-4057-450f-8231-acd3e156c4d2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Pegawai","type":"string","value":"@triggerBody()['text_2']"}]}},"Email":{"runAfter":{"Pegawai":["Succeeded"]},"metadata":{"operationMetadataId":"b33a3802-53b0-4e02-8c07-a8c6409ca8f5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email","type":"string","value":"@triggerBody()['text_3']"}]}},"Jenis":{"runAfter":{"Email":["Succeeded"]},"metadata":{"operationMetadataId":"3b8addff-9ac5-4743-9fd7-b098c7107dd1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis","type":"string","value":"@triggerBody()['text_4']"}]}},"Vendor":{"runAfter":{"Jenis":["Succeeded"]},"metadata":{"operationMetadataId":"a0266f0c-76cd-4ff6-83ea-8340fef35a57"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Vendor","type":"string","value":"@triggerBody()['text_5']"}]}},"Kontrak_Pemeliharaan":{"runAfter":{"Vendor":["Succeeded"]},"metadata":{"operationMetadataId":"d3f7dd61-36f0-4065-9cd3-7a0cba26c16b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Kontrak Pemeliharaan","type":"string","value":"@triggerBody()['text_6']"}]}},"Initialize_variable":{"runAfter":{"Kontrak_Pemeliharaan":["Succeeded"]},"metadata":{"operationMetadataId":"60a0343b-6c37-4a0e-82ff-1b407b98fff9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Persutujuan","type":"string","value":"@triggerBody()['text_7']"}]}},"Add_attachment":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"53676fbe-cb7c-448d-82b6-25034394f3f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"f6e81cc0-fa4a-4b43-aca8-2cd26496089f","itemId":"@outputs('Create_item')?['body/ID']","displayName":"Hasilan","body":"@{variables('Mobil')}@{variables('Tanggal')}@{variables('Pegawai')}@{variables('Email')}@{variables('Jenis')}@{variables('Vendor')}@{variables('Kontrak Pemeliharaan')}@{variables('Persutujuan')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_item":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e313549a-5f62-43bc-8a48-6398ee5406f8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"f6e81cc0-fa4a-4b43-aca8-2cd26496089f","item/Title":"Laporan Mobil 2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}