User App (Transportation)/Microsoft.Flow/flows/5d2a8d72-7b8c-4230-86f9-11322d04ca07/definition.json
{"name":"1afa8f0a-e1cd-45f5-bc21-18d535889b76","id":"/providers/Microsoft.Flow/flows/1afa8f0a-e1cd-45f5-bc21-18d535889b76","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Insiden","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-31T02:52:32.541819Z","connectionKeySavedTimeKey":"2024-07-31T02:52:32.541819Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b2442e2d-23d4-4a86-99f4-13708a4c1804"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Jenis Insiden","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Nama Mobil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Lokasi Insiden","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Departemen Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Keterangan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"Tanggal Insiden","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Nama Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Jenis Mobil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"Status","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_9":{"title":"Driver Guy","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_10":{"title":"Nomor Polisi","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_9","text_10"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"23fa8a76-9a96-42ec-a3ea-0c13f8a1f6db"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Insiden","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"1a4c88f5-a169-4f2f-9fd1-55e02ccccc5f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Mobil","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"4a5c96cf-c242-466e-bca5-728830295e1a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Lokasi Insiden","type":"string","value":"@triggerBody()['text_2']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"425344fb-76c9-42d5-8c81-12e1d00e47a5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Departemen","type":"string","value":"@triggerBody()['text_3']"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"8acf015e-7490-4aae-9de0-0bfc3440a302"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Keterangan","type":"string","value":"@triggerBody()['text_4']"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"1c7e330c-e1f2-42e4-8de4-4eaf47e73240"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tanggal","type":"string","value":"@triggerBody()['text_5']"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"73bf8e6d-cd82-457b-8e67-016d359f0f14"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Pegawai","type":"string","value":"@triggerBody()['text_6']"}]}},"Create_item":{"runAfter":{"Initialize_variable_11":["Succeeded"]},"metadata":{"operationMetadataId":"7356adca-0c1e-4d01-a6c6-097b4ed30c02"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"77360233-d996-4c72-a843-f3c94477dcf5","item/Title":"@variables('Insiden')","item/NamaMobil":"@variables('Nama Mobil')","item/NomorPolisi":"@variables('Plat Mobil')","item/Driver":"@variables('Nama Driver')","item/JenisMobil":"@variables('Jenis Mobil')","item/NamaPegawai":"@variables('Nama Pegawai')","item/DepartemenPegawai":"@variables('Departemen')","item/TanggalInsiden":"@variables('Tanggal')","item/LokasiInsiden":"@variables('Lokasi Insiden')","item/Keterangan":"@variables('Keterangan')","item/Status":"@variables('Status')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"f2e53688-fcb4-4b1f-961a-dab1ab3d378e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis Mobil","type":"string","value":"@triggerBody()['text_7']"}]}},"Initialize_variable_9":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"44b5b507-772f-45ff-9d37-3c3149a5c9fe"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Status","type":"string","value":"@triggerBody()['text_8']"}]}},"Initialize_variable_10":{"runAfter":{"Initialize_variable_9":["Succeeded"]},"metadata":{"operationMetadataId":"ded9a159-90bc-4294-84dc-57a48b61585e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Driver","type":"string","value":"@triggerBody()['text_9']"}]}},"Initialize_variable_11":{"runAfter":{"Initialize_variable_10":["Succeeded"]},"metadata":{"operationMetadataId":"bfcb4838-d3f6-4d82-9fb0-1b59133aa1b2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Plat Mobil","type":"string","value":"@triggerBody()['text_10']"}]}},"Send_an_email_(V2)":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"b666f308-993e-49ee-aee3-197d6bf39551"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"tsafekeeper@gmail.com","emailMessage/Subject":"@{variables('Nama Pegawai')} - @{variables('Insiden')}","emailMessage/Body":"<p>Terima Kasih telah melaporkan insiden @{variables('Insiden')}, pada detail mobil tersebut:<br>\nNama Driver: @{variables('Nama Driver')}<br>\nNama Mobil: @{variables('Nama Mobil')}<br>\nNomor Polisi: @{variables('Plat Mobil')}<br>\nTanggal Insiden: @{variables('Tanggal')}<br>\nLokasi Insiden: @{variables('Lokasi Insiden')}<br>\n<br>\nKami dari DLAF mohon berminta maaf atas kejadiannya. Akan kami segera menanggapi insiden tersebut, mohon untuk menjaga komunikasi anda bila ada pertanyaan dari pihak kami.&nbsp;</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-861576d9-8bf9-474f-8667-7e95f8dee9fb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}