User App (Transportation)/Microsoft.Flow/flows/944eabc1-34f9-42af-b20c-d8b1b979245d/definition.json
{"name":"16c1de28-5fe0-42eb-a72b-b179c5f6970c","id":"/providers/Microsoft.Flow/flows/16c1de28-5fe0-42eb-a72b-b179c5f6970c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Kirim HelpDesk","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-11T07:54:13.5092336Z","connectionKeySavedTimeKey":"2024-06-11T07:54:13.5092336Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"8b01e25d-0ede-4382-a31f-d41c52edf5fd"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"number":{"title":"Tiket","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"text_1":{"title":"Mulai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Akhir","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Jenis","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Pengembalian","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","number","text_1","text_2","text_3","text_4"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"760efb8a-02e4-47fa-9927-628ead0164b5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Pegawai","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"61d6e5ca-0cea-4359-97ef-617430a09749"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nomor Tiket","type":"integer","value":"@triggerBody()['number']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"9b4ba046-0e0f-43c1-bec5-a88f1ce8959f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mulai","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"65bdbfb9-8e60-4584-a31d-70106b8aeb43"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Akhir","type":"string","value":"@triggerBody()['text_2']"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"60ca0dcb-f455-4698-8a5b-cad29bccf47d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis","type":"string","value":"@triggerBody()['text_3']"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"c7e5eb24-caf7-46d2-9e59-6656056110c1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Lokasi","type":"string","value":"@triggerBody()['text_4']"}]}},"Add_a_row_into_a_table":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"01ZYNOWPAAEKAJK3X3Q5G3LRD6KK5DTL4B":"/Documents/H. Tiket.xlsx","operationMetadataId":"ea1e207a-3ae1-4d90-813e-940662c31503","tableId":"{F7BE0A9A-095E-4930-A970-D6F6B40C4208}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!XEOPwKpd5Ui4F2EeaKBjwa7BaQsOlCRFn9CNa35JJa4IcO4Eg4CyRIQUpbYGt-Mv","file":"01ZYNOWPAAEKAJK3X3Q5G3LRD6KK5DTL4B","table":"{F7BE0A9A-095E-4930-A970-D6F6B40C4208}","item/Nama Pegawai":"@variables('Pegawai')","item/Nomor Tiket":"@variables('Nomor Tiket')","item/Waktu Mulai":"@variables('Mulai')","item/Waktu Akhir":"@variables('Akhir')","item/Jenis Mobil":"@variables('Jenis')","item/Tempat Pengembalian":"@variables('Lokasi')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"6be8cda1-f2f8-4813-bade-84823cb4e15b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"ryufath.soepeno@my.sampoernauniversity.ac.id","emailMessage/Subject":"Receipt Tiket Kendaraan Dinas BI","emailMessage/Body":"<p>Kepada Yth.<br>\nPegawai Bank Indonesia<br>\n<br>\nBerikut Terlampir Tiket Kendaraan Dinas<br>\n<br>\n==================<br>\nNama Pegawai: @{variables('Pegawai')}<br>\nNomor Tiket: @{variables('Nomor Tiket')}<br>\nMulai: @{variables('Mulai')}<br>\nAkhir: @{variables('Akhir')}<br>\nJenis: @{variables('Jenis')}<br>\nLokasi Pengembalian: @{variables('Lokasi')}<br>\n<br>\nTerima Kasih!<br>\n==================</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_item":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"20e14e00-a6aa-41f6-8e07-bc6258a64eeb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"5da070aa-d344-4a58-8b57-808cdb2b562e","item/Title":"@variables('Pegawai')","item/NomorTiket":"@variables('Nomor Tiket')","item/Mulai":"@variables('Mulai')","item/Akhir":"@variables('Akhir')","item/Jenis":"@variables('Jenis')","item/Lokasi":"@variables('Lokasi')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-d6eb02de-2497-4986-b1a9-6ed7e356416d","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-861576d9-8bf9-474f-8667-7e95f8dee9fb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}