Help Desk/Microsoft.Flow/flows/4924127a-65c6-4a13-9f3c-3b9f80d41574/definition.json
{"name":"ac832944-572e-4847-b56e-65fe3a9b8001","id":"/providers/Microsoft.Flow/flows/ac832944-572e-4847-b56e-65fe3a9b8001","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"KirimEmailBro","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-06T03:29:06.3329646Z","connectionKeySavedTimeKey":"2024-06-06T03:29:06.3329646Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"373a9e98-53ed-4145-b952-8dc5270adee5"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Nama Mobil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Tanggal","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Email","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Jenis","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"Vendor","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Kontrak Pemeliharaan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Persutujuan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"7c8a05d6-c341-4f14-ae9e-5ef549335eb7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Mobil","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"1860af36-e128-473b-ae40-a241a8dd6e4a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tanggal","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"f69a5047-39b0-452e-86c8-d92677c96c73"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Pegawai","type":"string","value":"@triggerBody()['text_2']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"bcca9370-caf7-431f-841c-6d80207dd7c9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email","type":"string","value":"@triggerBody()['text_3']"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"21e96b4a-0a12-4657-864b-96d77ca8ea61"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis","type":"string","value":"@triggerBody()['text_4']"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"1ea128d1-b3e6-4aa3-af91-9a49ffbec045"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Vendor","type":"string","value":"@triggerBody()['text_5']"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"a2839b8d-e689-4787-ba3b-5519ecbbd82f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Kontrak Pemeliharaan","type":"string","value":"@triggerBody()['text_6']"}]}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"96c563a4-6d09-41df-bc22-b10c34bfa38e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Persutujuan","type":"string","value":"@triggerBody()['text_7']"}]}},"Send_an_email_(V2)":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"655f0a3b-0dfd-4226-949f-f277eded7f24"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"ryufath.soepeno@my.sampoernauniversity.ac.id","emailMessage/Subject":"Ajuan Bank Indonesia [Proposal]","emailMessage/Body":"<p><span style=\"font-family: georgia\">Berikut Adalah Tiket </span><span style=\"font-family: georgia\">@{variables('Nama Pegawai')}</span><span style=\"font-family: georgia\"><br>\nMobil:</span><span style=\"font-family: georgia\">@{variables('Nama Mobil')}</span><span style=\"font-family: georgia\"><br>\nTanggal:</span><span style=\"font-family: georgia\">@{variables('Tanggal')}</span><span style=\"font-family: georgia\"><br>\nEmail Pegawai:</span><span style=\"font-family: georgia\">@{variables('Email')}</span><span style=\"font-family: georgia\"><br>\nJenis: </span><span style=\"font-family: georgia\">@{variables('Jenis')}</span><span style=\"font-family: georgia\"><br>\nVendor: </span><span style=\"font-family: georgia\">@{variables('Vendor')}</span><span style=\"font-family: georgia\"><br>\nKontrak Pemeliharaan: </span><span style=\"font-family: georgia\">@{variables('Kontrak Pemeliharaan')}</span><span style=\"font-family: georgia\"><br>\nPersutujuan: </span><span style=\"font-family: georgia\">@{variables('Persutujuan')}</span><span style=\"font-family: georgia\"><br>\n<br>\nTerima Kasih!</span></p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-861576d9-8bf9-474f-8667-7e95f8dee9fb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}