DLAF Staff App (Transportation)/Microsoft.Flow/flows/7fb9601a-a9f1-4da1-9088-d61ec53915d2/definition.json
{"name":"d0d24b8e-b1c3-40a9-aeb8-2af297155e24","id":"/providers/Microsoft.Flow/flows/d0d24b8e-b1c3-40a9-aeb8-2af297155e24","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"NewCars","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-08-06T03:31:54.6928526Z","connectionKeySavedTimeKey":"2024-08-06T03:31:54.6928526Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"ec060200-4044-48f7-851f-9e975de97fa2"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Cars","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Tipe","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Image","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"ff794c1b-c085-4106-9c0b-ea4dbb0971c3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Cars","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e0f9bb0a-b2b1-4c0e-bf49-d1a22ffa4113"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tipe","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"43365098-8029-498a-9c20-2c7072e33382"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Image","type":"string","value":"@triggerBody()['text_2']"}]}},"Add_a_row_into_a_table_2":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"207145FCEAFCE21B!408":"/Daftar Mobil2.xlsx","operationMetadataId":"ec57a07d-2a6c-4f8b-9bc5-e445346fae12"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonline","connectionName":"shared_excelonline","operationId":"AddRowV2"},"parameters":{"file":"207145FCEAFCE21B!408","table":"{00000000-000C-0000-FFFF-FFFF00000000}","item/Title":"@variables('Cars')","item/Tipe":"@variables('Tipe')","item/GambarMobil":"@{variables('Image')}.jpg"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_item":{"runAfter":{"Add_a_row_into_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"0f8ca53b-2676-4ab3-b9d8-0016f27213fd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"66e663da-8eb0-41db-a2b7-684e357b727b","item/Title":"@variables('Cars')","item/field_2":"@variables('Tipe')","item/field_3":"@{variables('Image')}.jpg"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_excelonline":{"connectionName":"shared-excelonline-cd5e221c-559d-47f6-9d64-24ba72448cad","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonline","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}