User App (Transportation)/Microsoft.Flow/flows/5f238d08-e223-43c6-9675-a7f18c1f8dc1/definition.json
{"name":"c18f4177-f38b-4acc-b909-5113b47e0f69","id":"/providers/Microsoft.Flow/flows/c18f4177-f38b-4acc-b909-5113b47e0f69","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Download Ticket","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-03T08:59:29.391699Z","connectionKeySavedTimeKey":"2024-07-03T08:59:29.391699Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"2a98a50e-1527-4f1b-b386-9daadb646ac0"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Nama Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Nomor Tiket","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"file":{"title":"Tiket","type":"object","x-ms-dynamically-added":true,"description":"Please select file or image","x-ms-content-hint":"FILE","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}}},"text_2":{"title":"Nama Mpbil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"88da39f0-f9c5-4033-8a5f-d77fed434195"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Pegawai","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"2ced99b7-9405-4f27-aee3-48f86d7726a7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nomor Tiket","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"b18642bb-c684-47f0-8a53-042a58c2b86e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Mobil","type":"string","value":"@triggerBody()['text_2']"}]}},"Send_an_email_(V2)":{"runAfter":{"Respond_to_a_Power_App_or_flow":["Succeeded"]},"metadata":{"operationMetadataId":"1683e38d-c0c4-4088-af7a-ab5ce95962a9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"ryufath.soepeno@my.sampoernauniversity.ac.id","emailMessage/Subject":"Tiket @{variables('Nama Mobil')} -- @{variables('Nomor Tiket')}","emailMessage/Body":"<p>Kepada @{variables('Nama Pegawai')}, <br>\n<br>\nBerikut terlampir adalah<em> tiket kendaraan</em> anda sebagai berikut:<br>\n<br>\n</p>","emailMessage/Attachments":[{"Name":"Tiket  @{variables('Nama Mobil')} -- @{variables('Nomor Tiket')}","ContentBytes":"@body('Respond_to_a_Power_App_or_flow')['text']"}],"emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"a3030011-c413-40b2-b4df-5cb101e776a9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","folderPath":"/Lists/List Tiket","name":"Tiket @{variables('Nama Mobil')} -- @{variables('Nomor Tiket')}","body":"@triggerBody()?['file']?['contentBytes']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Compose":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"d75fb5bb-e36d-4055-b698-c9327bc5bef5"},"type":"Compose","inputs":"Bank Indonesia - https://studentssbac.sharepoint.com/sites/BankIndonesia @{outputs('Create_file')?['body/Path']}"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"22d63d32-191e-4145-bf7c-3b2b783f6607"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"path":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"path":{"title":"Path","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-861576d9-8bf9-474f-8667-7e95f8dee9fb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}