Help Desk/Microsoft.Flow/flows/a0c87434-06c2-42d0-a950-79e54f332eba/definition.json
{"name":"9b8235ac-b9e9-4249-bd3b-72d73ce8cf1c","id":"/providers/Microsoft.Flow/flows/9b8235ac-b9e9-4249-bd3b-72d73ce8cf1c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Kirim (Excel)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-06T02:55:51.5746391Z","connectionKeySavedTimeKey":"2024-06-06T02:55:51.5746391Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6f640d16-b574-4ca2-b0ed-7710ea3b6a95"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Mobil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Tanggal","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Email","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Jenis","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"Vendor","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Kontrak","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Persutujuan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"11e18ba9-2e36-42a9-8df2-29209be34607"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mobil","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d04391f5-7e4b-4f7b-a6fe-b5e53d770810"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tanggal","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"96bc2380-effc-44c3-b7ce-b1b3a95da0ea"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Pegawai","type":"string","value":"@triggerBody()['text_2']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"1236ebbd-e474-4ac0-9535-42cd34003218"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email","type":"string","value":"@triggerBody()['text_3']"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"ac869904-b85c-4f0a-ac43-6a6db46c2458"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis","type":"string","value":"@triggerBody()['text_4']"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"d3bf05af-11e5-4235-9b8c-580e31121eda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Vendor","type":"string","value":"@triggerBody()['text_5']"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"17715f78-7599-4a44-9600-417c513bd090"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Kontrak","type":"string","value":"@triggerBody()['text_6']"}]}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"8a35bca4-4a7e-4caa-a74e-143f111795c0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Persutujuan","type":"string","value":"@triggerBody()['text_7']"}]}},"Add_a_row_into_a_table":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"metadata":{"01ZYNOWPAJ5P73KL3PIFGIUZPDPA3YNYAT":"/Documents/Help Desker.xlsx","operationMetadataId":"403209aa-32ff-4711-99c2-a5a6dc31a224"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!XEOPwKpd5Ui4F2EeaKBjwa7BaQsOlCRFn9CNa35JJa4IcO4Eg4CyRIQUpbYGt-Mv","file":"01ZYNOWPAJ5P73KL3PIFGIUZPDPA3YNYAT","table":"{4C9A602A-3A0F-4886-A14C-AA5D8A7D77C6}","item/Mobil":"@variables('Mobil')","item/Tanggal":"@variables('Tanggal')","item/Pegawai":"@variables('Pegawai')","item/Email":"@variables('Email')","item/Jenis":"@variables('Jenis')","item/Vendor":"@variables('Vendor')","item/Kontrak":"@variables('Kontrak')","item/Persutujuan":"@variables('Persutujuan')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-d6eb02de-2497-4986-b1a9-6ed7e356416d","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}