User App (Transportation)/Microsoft.Flow/flows/7be18347-0daf-48b3-b9c5-b23069aab864/definition.json
{"name":"e05404ad-5631-7bf6-e1ca-2bc58deaf3b3","id":"/providers/Microsoft.Flow/flows/e05404ad-5631-7bf6-e1ca-2bc58deaf3b3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CallMyFlow","definition":{"metadata":{"workflowEntityId":"91849739-4d22-ef11-840a-6045bd56f67a","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-04T09:07:43.3683306Z","connectionKeySavedTimeKey":"2024-06-04T09:07:43.3683306Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6ebabb65-b461-40b0-82e0-f4419debfaf3"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Mobil":{"runAfter":{},"metadata":{"operationMetadataId":"a58059b4-196a-4dbf-9db9-69abdec2bc9b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mobil","type":"string","value":"@{triggerBody()}"}]}},"Nama":{"runAfter":{"Mobil":["Succeeded"]},"metadata":{"operationMetadataId":"122e8a55-9e51-494f-a370-bb10732f5902"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama","type":"string","value":"@{triggerBody()}"}]}},"Alamat_Email":{"runAfter":{"Nama":["Succeeded"]},"metadata":{"operationMetadataId":"93676178-001d-4ddf-ae99-f06c6a45eaa7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Alamat Email","type":"string","value":"@{triggerBody()}"}]}},"Jenis":{"runAfter":{"Tanggal":["Succeeded"]},"metadata":{"operationMetadataId":"bdcb1a71-b4e2-4635-8cec-92a0cbab4ccb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis","type":"array","value":"@triggerBody()"}]}},"Vendor":{"runAfter":{"Jenis":["Succeeded"]},"metadata":{"operationMetadataId":"b60ad69a-3567-40ba-8734-947dd9dc8786"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Vendor","type":"array","value":"@triggerBody()"}]}},"Kontrak_Pemeliharaan":{"runAfter":{"Vendor":["Succeeded"]},"metadata":{"operationMetadataId":"7dac6b3c-35df-44d4-befc-f94ed3c22682"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Kontrak Pemeliharaan","type":"array","value":"@triggerBody()"}]}},"Persutujuan":{"runAfter":{"Kontrak_Pemeliharaan":["Succeeded"]},"metadata":{"operationMetadataId":"37be0238-a63f-42d7-94de-0125c28347dc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Persutujuan","type":"object"}]}},"Tanggal":{"runAfter":{"Alamat_Email":["Succeeded"]},"metadata":{"operationMetadataId":"a38ae314-87a4-4f4c-b817-6fb6d8e63446"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tanggal","type":"string"}]}},"Create_item":{"runAfter":{"Persutujuan":["Succeeded"]},"metadata":{"operationMetadataId":"ccb3bc23-5428-4a48-a221-6b3ec3232729"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"f6e81cc0-fa4a-4b43-aca8-2cd26496089f","item/Title":"Bank Indonesia"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}