DLAF Staff App (Transportation)/Microsoft.Flow/flows/c27e6534-629a-4c30-b160-888e71463ea0/definition.json
{"name":"86f7333d-abac-455d-8126-3a427c9a9a19","id":"/providers/Microsoft.Flow/flows/86f7333d-abac-455d-8126-3a427c9a9a19","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ConfirmedStatus","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-08-07T07:25:35.6211613Z","connectionKeySavedTimeKey":"2024-08-07T07:25:35.6211613Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"bc900512-efef-44e1-aac4-e6591951d5ad"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Nama Mobil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Nama Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Mulai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Akhir","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Jenis","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"NIP","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Status Pengajuan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Nama Driver","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"Lokasi","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_9":{"title":"Jam","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_10":{"title":"Nomor tiket","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_11":{"title":"Response Time","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_9","text_10","text_11"]}}}},"actions":{"Create_item":{"runAfter":{"Initialize_variable_12":["Succeeded"]},"metadata":{"operationMetadataId":"d6b24e92-22ef-4c86-8ae1-079fc26522da"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"2f2019b3-aef5-425c-b0c9-7e9f96df3b18","item/Title":"@variables('Nama Mobil')","item/NamaPegawai":"@variables('Nama Pegawai')","item/Mulai":"@variables('Mulai')","item/Akhir":"@variables('Akhir')","item/Jam":"@variables('Jam')","item/Lokasi":"@variables('Lokasi')","item/NamaDriver":"@variables('Nama Driver')","item/Jenis":"@variables('Jenis')","item/NIP":"@variables('NIP')","item/NomorTiket":"@variables('Tiket Number')","item/StatusPengajuan":"@variables('Status Pengajuan')","item/ResponseTime":"@variables('Response Time')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"6aafd0ff-9dad-4e36-ae29-e62320799b7c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Mobil","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"46e57c9b-f3bd-49e4-82e1-2b05b0b4270b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Pegawai","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"789ccef5-3306-4384-854b-5efa77321fea"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mulai","type":"string","value":"@triggerBody()['text_2']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"65505701-ece2-40c9-b194-1e53112f158f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Akhir","type":"string","value":"@triggerBody()['text_3']"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"7b0c3cc9-cdb8-4e56-b791-257e55e2099a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis","type":"string","value":"@triggerBody()['text_4']"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"942785c0-b7a4-4cc9-8339-e9f0f8519556"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NIP","type":"string","value":"@triggerBody()['text_5']"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"a775d6f2-0df9-4f57-bd0d-95f2df74fa58"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Status Pengajuan","type":"string","value":"@triggerBody()['text_6']"}]}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"2d3c94a3-59da-40b9-911b-8e97bba62071"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Driver","type":"string","value":"@triggerBody()['text_7']"}]}},"Initialize_variable_9":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"7d7c803b-041d-4f89-85cd-727e2b0eb34f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Lokasi","type":"string","value":"@triggerBody()['text_8']"}]}},"Initialize_variable_10":{"runAfter":{"Initialize_variable_9":["Succeeded"]},"metadata":{"operationMetadataId":"685c2edb-3c9a-40c4-8413-880c22922564"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jam","type":"string","value":"@triggerBody()['text_9']"}]}},"Initialize_variable_11":{"runAfter":{"Initialize_variable_10":["Succeeded"]},"metadata":{"operationMetadataId":"02cae3d6-322b-42d0-bd20-d8691f819e0b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tiket Number","type":"string","value":"@triggerBody()['text_10']"}]}},"Send_an_email_(V2)":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"bd3c8165-1ea6-4b03-8201-a71eec0c55b3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"ryufath.soepeno@my.sampoernauniversity.ac.id","emailMessage/Subject":"Persutujuan: @{variables('Nama Pegawai')} - @{variables('Lokasi')}","emailMessage/Body":"<p>Berikut adalah informasi tiket ajuan yang sudah dikonfirmasikan oleh satker:<br>\n<br>\nNama Pegawai: @{variables('Nama Pegawai')}<br>\nNIP: @{variables('NIP')}<br>\nNama Mobil: @{variables('Nama Mobil')}<br>\nTipe Mobil: @{variables('Jenis')}<br>\nTempat Tujuan: @{variables('Lokasi')}<br>\nTanggal Pelaksanaan: @{variables('Mulai')} -- @{variables('Jam')} s/d @{variables('Akhir')}<br>\n<br>\nNama driver: @{variables('Nama Driver')}<br>\nNomor Tiket: @{variables('Tiket Number')}<br>\n<br>\nTerima Kasih.&nbsp;</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_12":{"runAfter":{"Initialize_variable_11":["Succeeded"]},"metadata":{"operationMetadataId":"50cc9530-df7e-4062-8d33-e67b65dcd389"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Response Time","type":"string","value":"@triggerBody()['text_11']"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-861576d9-8bf9-474f-8667-7e95f8dee9fb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}