User App (Transportation)/Microsoft.Flow/flows/53515e8f-7846-44a1-998a-2bd2f88687b4/definition.json
{"name":"09d3bbf5-c8d6-4d37-ab62-fbde1e0f1322","id":"/providers/Microsoft.Flow/flows/09d3bbf5-c8d6-4d37-ab62-fbde1e0f1322","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Angkutan","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-08-13T08:45:23.165972Z","connectionKeySavedTimeKey":"2024-08-13T08:45:23.165972Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e3b2dfe8-cec8-4fe3-9ef4-59211df720f2"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Nama","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Alamat","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"NIP","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Departemen","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Nama Atau Tipe Barang","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"Total Barang","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Berat per Barang","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Lokasi Tujuan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"Tanggal","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_9":{"title":"Keterangan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_10":{"title":"Status","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_11":{"title":"Phone","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_9","text_10","text_11"]}}}},"actions":{"Create_item":{"runAfter":{"Initialize_variable_12":["Succeeded"]},"metadata":{"operationMetadataId":"a0dbb4f2-e2d9-46d0-919f-12e6a3904dd7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"73602ec0-b7c0-4fc9-97b6-12fa582cbe6a","item/Title":"@variables('Nama')","item/AlamatEmail":"@variables('Alamat')","item/NomorTelepon":"@variables('Phone')","item/NIP":"@variables('NIP')","item/Departemen":"@variables('Departemen')","item/NamaAtauTipeBarang":"@variables('Nama Atau Tipe Barang')","item/TotalBarang":"@variables('Total barang')","item/BeratPerBarang":"@variables('Berat per Barang')","item/LokasiTujuan":"@variables('Lokasi Tujuan')","item/Tanggal":"@variables('Tanggal')","item/Keterangan":"@variables('Keterangan')","item/Status":"@variables('Status')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"30125bbb-581c-4aa7-b374-a40f6c7dcaf0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"733010b4-eb3a-43b8-937e-c2050655966f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Alamat","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"ac8ec8c2-d076-474f-8666-22830feea248"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NIP","type":"string","value":"@triggerBody()['text_2']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"4a05050f-7c9a-4abb-a962-935c55c99d13"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Departemen","type":"string","value":"@triggerBody()['text_3']"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"fb91f2a5-ebb5-4203-80fc-1eb8a8987ce0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Atau Tipe Barang","type":"string","value":"@triggerBody()['text_4']"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"82924630-1ce2-41cb-b13e-ab87743fa7f9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Total barang","type":"string","value":"@triggerBody()['text_5']"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"576adcc2-4242-4160-bf3d-048cbdc347f0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Berat per Barang","type":"string","value":"@triggerBody()['text_6']"}]}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"2442efbf-9b5d-49da-ba92-1156491b8853"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Lokasi Tujuan","type":"string","value":"@triggerBody()['text_7']"}]}},"Initialize_variable_9":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"cb076d44-ebd7-48c6-8088-d5b80379eddd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tanggal","type":"string","value":"@triggerBody()['text_8']"}]}},"Initialize_variable_10":{"runAfter":{"Initialize_variable_9":["Succeeded"]},"metadata":{"operationMetadataId":"71f16c89-d93a-40a4-92ef-3243eea83f38"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Keterangan","type":"string","value":"@triggerBody()['text_9']"}]}},"Initialize_variable_11":{"runAfter":{"Initialize_variable_10":["Succeeded"]},"metadata":{"operationMetadataId":"e5e1e22b-9f1a-4ac5-83a6-a97900c39a9b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Status","type":"string","value":"@triggerBody()['text_10']"}]}},"Send_an_email_(V2)":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"a9f812a9-9721-49f4-92f8-fd92442d0401"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"tsafekeeper@gmail.com","emailMessage/Subject":"Invoice Angkut @{variables('Nama')}","emailMessage/Body":"<p>Berikut adalah invoice mobil yang Anda telah ajukan:<br>\nNama Pegawai: @{variables('Nama')} - @{variables('NIP')}<br>\nAjuan Tanggal Mulai: @{variables('Tanggal')}<br>\nLokasi: @{variables('Lokasi Tujuan')}<br>\n<br>\nBerikut adalah detail barang yang ingin diangkutkan:<br>\nNama atau Tipe barang:@{variables('Nama Atau Tipe Barang')}<br>\nBerat tiap barang (estimasi):@{variables('Berat per Barang')}kg<br>\nTotal Barang: @{variables('Total barang')}<br>\n<br>\nAnda diharap untuk menunggu konfirmasi pengajuan kendaraan dari satker DLAF yang bertugas. Bila ada pertanyaan, Anda bisa menanyakan Help Desk DLAF &nbsp;terlebih dahulu<br>\n<br>\nTerima Kasih!</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_12":{"runAfter":{"Initialize_variable_11":["Succeeded"]},"metadata":{"operationMetadataId":"c38c7c9e-f3a4-4cba-8686-561309b5664d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Phone","type":"string","value":"@triggerBody()['text_11']"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-861576d9-8bf9-474f-8667-7e95f8dee9fb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}