DLAF Staff App (Transportation)/Microsoft.Flow/flows/b18f52d1-872d-4099-9e66-a1e30b14c6b1/definition.json
{"name":"5203597b-1719-4800-9e5b-cae875340e6c","id":"/providers/Microsoft.Flow/flows/5203597b-1719-4800-9e5b-cae875340e6c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Angkut","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"be888b31-1ab2-40ca-b928-6098ae00ba37","type":"User","tenantId":"3018ecb9-2438-4581-b036-4b625dac9579"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-08-13T08:32:57.8713749Z","connectionKeySavedTimeKey":"2024-08-13T08:32:57.8713749Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b4ce5092-f9ff-4937-9ccf-2c1639dbd606"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Nama Mobil","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Nama Pegawai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Mulai","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"Akhir","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Jenis","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"NIP","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"Status Pengajuan","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"Nama Driver","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"Lokasi","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_9":{"title":"Jam","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_10":{"title":"Nomor Tiket","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_11":{"title":"Nama barang","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_12":{"title":"Total barang","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_13":{"title":"Berat","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_9","text_10","text_11","text_12","text_13"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"a8e39b4d-d785-4d2b-a096-3593aa9969f3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Mobil","type":"string","value":"@triggerBody()['text']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"684cb34a-fc9b-407b-9421-6c3fad6598fd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Pegawai","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"cde084e8-ce3a-4996-bb0d-d7fe5e41cc7e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mulai","type":"string","value":"@triggerBody()['text_2']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"c473ccea-ea90-4c40-bf5f-e7011266a05c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Akhir","type":"string","value":"@triggerBody()['text_3']"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"2274b922-8452-41a1-9384-352d6fd31cbb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jenis","type":"string","value":"@triggerBody()['text_4']"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"3bb4aa3e-0d8f-43f5-9e48-bf334d2abdc0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NIP","type":"string","value":"@triggerBody()['text_5']"}]}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"62dbb9a1-451a-41c2-820a-91f5077cf5f3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Status Pengajuan","type":"string","value":"@triggerBody()['text_6']"}]}},"Initialize_variable_9":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"9af89187-8ab1-4b4f-bb50-bb6ad90cd050"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Driver","type":"string","value":"@triggerBody()['text_7']"}]}},"Initialize_variable_10":{"runAfter":{"Initialize_variable_9":["Succeeded"]},"metadata":{"operationMetadataId":"9b0d9f9f-5217-47bb-8eab-ffc8681a1c49"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Lokasi","type":"string","value":"@triggerBody()['text_8']"}]}},"Create_item":{"runAfter":{"Initialize_variable_14":["Succeeded"]},"metadata":{"operationMetadataId":"ddb817f5-2dd9-40ad-8695-4bc23c7dcb56"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://studentssbac.sharepoint.com/sites/BankIndonesia","table":"6e233b9b-64f6-441b-9e27-011a17fdf085","item/Title":"@variables('Nama Mobil')","item/NamaPegawai":"@variables('Nama Pegawai')","item/Mulai":"@variables('Mulai')","item/Akhir":"@variables('Akhir')","item/Jam":"@variables('Jam')","item/Lokasi":"@variables('Lokasi')","item/NamaDriver":"@variables('Nama Driver')","item/Jenis":"@variables('Jenis')","item/NamaAtauTipeBarang":"@variables('Nama Barang')","item/TotalBarang":"@variables('Total barang')","item/BeratPerBarang_x0028_Kg_x0029_":"@variables('Berat')","item/NIP":"@variables('NIP')","item/StatusPengajuan":"@variables('Status Pengajuan')","item/NomorTiket":"@variables('Nomor Tiket')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_10":["Succeeded"]},"metadata":{"operationMetadataId":"1413d7fd-2b65-4e28-a32f-5664bc121e96"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Jam","type":"string","value":"@triggerBody()['text_9']"}]}},"Send_an_email_(V2)_2":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"2c5a94ce-c537-49a5-a11a-a1d5710050a2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"tsafekeeper@gmail.com","emailMessage/Subject":"Persutujuan @{variables('Nama Pegawai')} - @{variables('Lokasi')}","emailMessage/Body":"<p>Berikut adalah informasi tiket ajuan yang sudah dikonfirmasikan oleh satker:<br>\n<br>\nNama Pegawai: @{variables('Nama Pegawai')}<br>\nNIP: @{variables('NIP')}<br>\nNama Mobil: @{variables('Nama Mobil')}<br>\nTempat Tujuan: @{variables('Lokasi')}<br>\nTanggal Pelaksanaan: @{variables('Mulai')} -- @{variables('Jam')} s/d @{variables('Akhir')}<br>\n<br>\nNama Driver (dan tipe angkut): @{variables('Nama Driver')}<br>\nNomor Tiket:@{variables('Nomor Tiket')}<br>\n<br>\nInfo Barang:<br>\nNama atau Tipe Barang: @{variables('Nama Barang')}<br>\nJumlah barang: @{variables('Total barang')}<br>\nBerat barang: @{variables('Berat')}kg<br>\n<br>\nTerima Kasih</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_11":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"56a90e5a-25b1-4499-88ba-7d7171169e1f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nomor Tiket","type":"boolean","value":"@triggerBody()['text_10']"}]}},"Initialize_variable_12":{"runAfter":{"Initialize_variable_11":["Succeeded"]},"metadata":{"operationMetadataId":"bb9ca4d9-f0f8-4211-a771-cb0aca129f28"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Nama Barang","type":"string","value":"@triggerBody()['text_11']"}]}},"Initialize_variable_13":{"runAfter":{"Initialize_variable_12":["Succeeded"]},"metadata":{"operationMetadataId":"e9fd713f-bf72-4211-a72e-510d0b89a9df"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Total barang","type":"string","value":"@triggerBody()['text_12']"}]}},"Initialize_variable_14":{"runAfter":{"Initialize_variable_13":["Succeeded"]},"metadata":{"operationMetadataId":"7126d30a-db42-4758-8ed0-16a56e7b659f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Berat","type":"string","value":"@triggerBody()['text_13']"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-e74b1b18-9480-4911-a338-088a415ef1dd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-861576d9-8bf9-474f-8667-7e95f8dee9fb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}